<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% include 'header.html' %}
    <script src="/static/scripts/agreements.js" charset="utf-8">
    </script>
    <title>Agreements | DemNet</title>
  </head>
  <body>
    {% if has_unaccepted_books() == False %}
    {% include 'navigation.html' %}
    {% endif %}
    <div class="content">
      <h1 id="header_1">Agreements</h1>
      <p>In order to continue
        using this network, you have
        to agree to these rules, terms and
        statements.
      </p>
      <div id="agreements">
      </div>
      <style media="screen">
      body {
        text-align: center;
      }
      header_1 {
        padding-top: 2%;
      }
      </style>
      <script type="text/javascript">
      let url = "{{ refer }}";
      let app = Elm.Agreements.init({
        node: document.getElementById("agreements")
      })
      
      app.ports.redirectHome.subscribe(_ => {
        if(url == "") {
          window.location.href = `/?message=${encodeURIComponent("Welcome back! You have hereby approved the latest democratic decisions of the network!")}`;
        } else {
          window.location.href = encodeURI(url);
        }
      });
      </script>
    </div>
    {% include "footer.html" %}
  </body>
</html>
