<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>{{ book.name }} | DemNet</title>
    <link rel="stylesheet" href="/static/styles/show_post.css"/>
    {% include 'header.html' %}
    {% include "meta-info.html" %}
    <meta name="description" content="{{ book.excerpt() }}">
  </head>
  <body>
    {% include 'navigation.html' %}

    <h1>{{ book.name }}</h1>

    {{ book.text | markdown }}

    <p>
      First accepted on {{ book.since.strftime("%d.%m.%Y") }}
    </p>
    {% include 'footer.html' %}
  </body>
</html>
