<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Authorize users | DemNet</title>
    {% include 'header.html' %}
    <link rel="stylesheet" href="/static/styles/authorize.css">
  </head>
  <body>
    {% include 'navigation.html' %}
    {% import "user.html" as u %}
    <div class="content">
      <h1>Authorize Users for voting</h1>

      <table>
        {% for user in users %}
        {% set can_vote = user.has_vote or (user.has_vote is none) %}
        <tr class="{{ 'authorized' if can_vote else 'unauthorized' }}">
          <td>
            {{ u.format_user(user, simple = True) }}
          </td>
          <td>
            <a href="mailto:{{ user.email }}">Contact</a>
          </td>
          <td>
            {% if can_vote %}
            <form action="/grant_vote" method="post">
              <input type="submit" value="Unauthorize">
            </form>
            {% else %}
            <form action="/grant_vote" method="post">
              <input type="submit" value="Authorize">
            </form>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
    {% include "footer.html" %}
  </body>
</html>
