<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Change Password</title>
    {% include 'header.html' %}
  </head>
  <body>
    {% include 'navigation.html' %}
    <div class="content">
      <p>To change your password, enter your current one and then repeat the new one twice</p>
      <form action="/change_password" method="post">
        <label for="password">Current password:</label>
        <input type="password" name="password">
        <br>
        <label for="new_passsword">New password:</label>
        <input type="password" name="new_passsword">
        <br>
        <label for="new_repeated_password">Repeat new password:</label>
        <input type="password" name="new_repeated_password">
        <br>
        <input type="submit" value="Change password">
      </form>
    </div>
    {% include 'footer.html' %}
  </body>
</html>
