{% if election %}
<h2>Current proposals</h2>
<div class="proposals">
  {% for proposal in election.proposals %}
    <details class="single_proposal">
      <summary><h3>{{ proposal.title }}</h3></summary>
      <p>{{ proposal.description|markdown }}</p>

      {% if proposal.book_proposals.exists() %}
      <h3>Changes to the Rule Books</h3>
      {% for book in proposal.book_proposals %}
      <details style="border-style: solid; border-width: 1px; font-size 14px">
        <summary>
          <h4>
            {{ book.book }} {{ '-' if book.new_text.strip() == "" else '.' }}
          </h4>
        </summary>
          {{ book.new_text | markdown }}
      </details>
      {% endfor %}
      {% endif %}
      <a href="/vote/patch/{{ proposal.id }}">View Changes</a>
    </details>
  {% endfor %}
</div>
{% endif %}
