<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  {% include 'header.html' %}
  <title>Files | DemNet</title>
  <script src="/static/scripts/files_dashboard.js"></script>
</head>
<body>
  {% include 'navigation.html' %}
  
  <div class="content">
    <h1>Files Dashboard</h1>
    <div id="message">
    </div>

    <div id="files_dashboard">
    </div>
    <form action="/api/v0/files" method="POST" enctype="multipart/form-data">
      <input type="file" accept="{{ ','.join(ALLOWED_FILES.keys()) }}" name="file">
      <input type="hidden" name="refer" value="/files_dashboard">
      <input type="submit" value="Upload File">
    </form>
  </div>

  {% include 'footer.html' %}
  <script type="text/javascript">
  let app = Elm.Dashboard.init({
    node: document.getElementById("files_dashboard")
  });
  </script>
</body>
</html>
