<footer class="info-footer">
  <div class="info-item">
    <a href="mailto:info@democraticnet.de">
      Joris Gutjahr & Abbashan Karasahin (info@democraticnet.de)
    </a>
  </div>
  <div class="info-item">
    <a href="https://gitlab.com/CSDUMMI/DemNet/-/blob/master/LICENSE">
      DemNet is released under the GPL-3 license by <br>
      © Joris Gutjahr and Abbashan Karasahin 2020 - present
    </a>
  </div>
  <div class="info-item">
    <b>
      <a href="https://gitlab.com/csdummi/DemNet">View Source</a>
      <br>
      <b>
        This instance runs on
        <br>
        the branch:
        <code>
          {{ branch_name }}
        </code>
        <br>
      </b>
    </b>
  </div>
  <div class="info-item">
    <a href="https://sfz-hamburg.de/">
      c/o Schülerforschungszentrum Hamburg <br>
      Grindelallee 117 <br>
      20146 Hamburg <br>
    </a>
  </div>
</footer>
