<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/static/styles/master.css">
<link rel="stylesheet" href="/static/styles/colors.css">
