<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>DemNet</title>
    <link rel="stylesheet" href="/static/styles/show_post.css"/>
    {% include 'header.html' %}
    {% include "meta-info.html" %}
    <meta name="description" content="A democratic social network, controlled by the users.">
  </head>
  <body>
    {% include 'navigation.html' %}

    {% import 'message.html' as m %}
    {% if message %}
    <p>{{ message }}</p>
    {% endif %}
    {% for message in feed %}
    {{ m.small_message(message) }}
    {% endfor %}
    {% if page > 1 %}
    <a href="/?page={{page - 1}}" style="text-align: left;">Previous</a>
    {% endif %}
    <a href="/?page={{page + 1}}" style="text-align:right;">Next</a>

    {% include 'footer.html' %}
  </body>
</html>
