<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Login to DemNet</title>
    {% include 'header.html' %}
    {% include 'meta-info.html' %}
    <meta name="description" content="Login to a democratic social network, controlled by the users.">
    <script src="/static/scripts/login.js" charset="utf-8"></script>
  </head>
  <body>
    {% include "navigation.html" %}

    <div class="content">
      <h1 style="text-align: center;">Welcome to DemNet</h1>
      <div hidden id="refer">{{ refer }}</div>
      {% if registration %}
      <div id="registration" hidden>1</div>
      {% endif %}

      <div id="login-element">
      </div>
    </div>

    {% include 'footer.html' %}

    <script type="text/javascript">
      let flags = document.getElementById("registration")
      flags = flags != null && flags.innerHTML == "1"

      flags = [flags, window.innerWidth, window.innerHeight]
      let app = Elm.Login.init({ node: document.getElementById("login-element"), flags: flags})

      app.ports.redirect.subscribe(_ => {
        window.location.href = document.getElementById("refer").innerHTML
      })
    </script>
  </body>
</html>
