<!--
smal_message is used on the feed
and in the profile and anywhere,
where you need a short intro into a post.
And a link to the post.
-->

{% macro small_message(message) -%}
{% import "user.html" as user %}
<div class="dropdown">
  {% set link = message.id if message.hash is none else message.hash %}
  <a class="message" href="/read/{{link}}">
    <div class="dropbtn">
      <h2> {{ message.title }} </h2>
    </div>
  </a>
    <div class="dropdown-content">
      <p>{{ user.format_user(message.author) }}</p>
      {% if message.views != None %}
      <b>Views: {{ message.views }}</b>
      {% endif %}
    </div>
</div>
<br>
{%- endmacro %}

<!--
To show a longer message for reading
and if the level  is less thna or equal to 3,
also show all the responses to this message.
-->
{% macro long_message(message, level = 1, authenticated = false) -%}
{% import "user.html" as user %}
<h{{level}}>{{ message.title }}</h{{level}}>
{% if session.get("username", None) == message.author.name %}
<a href="/publish?message={{ message.id }}">Edit</a>
{% endif %}

<p>
  {{message.content|markdown}}
</p>
<p>
  {{ message.publishing_date.strftime("%d.%m.%Y") }}, {{ user.format_user(message.author) }}
  {% if level == "1" %}
  in response to <a href="/read/{{ message.response_to.id }}">{{ message.response_to.title }}</a>
  {% endif %}
</p>
{% if message.keywords %}
<p>{{ message.keywords }}</p>
{% endif %}

{% if message.views != 0 and level == 1 %}
<p><b>Views: {{ message.views }}</b></p>
{% endif %}

<!-- Respond -->

{% if authenticated and level <= 2 %}
<a href="/publish?response_to={{ message.id }}">Respond to this message</a>
{% endif %}
<br>
{% set keywords = "" if message.keywords is none else message.keywords.replace('#',',') %}
<a href="https://twitter.com/intent/tweet?url={{ request.base_url | urlencode }}&text=Read%20what%20I%20found%3A%20{{ message.title | urlencode }}&hashtags=demnet,{{ keywords }}">
  Share on Twitter
</a>
{% if message.responses %}
{% if level == 1 %}
<hr>
{% endif %}

{% if level <= 2 %}

{% if level == 2 %}
<details>
  <summary><b>View replies</b></summary>
{% endif %}

{% for message in message.responses %}
  {{ long_message(message, level = level + 1, authenticated = authenticated) }}
{% endfor %}

{% if level == 2 %}
</details>
{% endif %}
{% endif %}

{% endif %}
{%- endmacro %}
