
{% macro is_active(location) -%}
{% if request.path == location %}
style="color: var(--highlighting-color);"
{% endif %}
{%- endmacro %}

<div class="navigation">
  <a class="navigation-item" {{ is_active('/') }} href="/">Feed</a>
  <a class="navigation-item" {{ is_active('/publish') }} href="/publish">Publish</a>
  <a class="navigation-item" {{ is_active('/vote') }} href="/vote">Vote</a>
  {% if session.get("authenticated", False) %}
  <a class="navigation-item" {{ is_active('/profile') }} href="/profile/{{ session.username }}">Profile</a>
  {% else %}
  <a class="navigation-item" {{ is_active("/login") }} href="/login">Login</a>
  {% endif %}
  <form action="/" method="get">
    <input id="search" type="text" name="search" placeholder="Search" value="{{ request.values.get('search', '')}}">
  </form>
</div>
