<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% include 'header.html' %}
    <link rel="stylesheet" href="/static/styles/show_post.css"/>
    <script src="/static/scripts/authentication.js" charset="utf-8"></script>
    <title>Profile of {{ user.name }}</title>
    <meta name="author" content="{{ user.first_name }} {{ user.last_name }}">
    <meta name="description" content="{{ user.bio }}">
  </head>
  <body>
    {% include 'navigation.html' %}

    <div class="content">
      {% import "user.html" as u %}
      {% import "message.html" as m %}
      <h1>{{ user.first_name }} {{ user.last_name }}</h1>
      <h3>{{ u.format_user(user, simple = True) }}</h3>

      {% if session.username == user.name %}
      <a href="/logout">Log out</a>
      <a href="/settings">Settings</a>
      <a href="/files_dashboard">Uploaded Files</a>
      <a href="/change_password">Change Password</a>
      {% endif %}
      <hr>
      <p>{{ user.first_name }} {{ user.last_name }}
        {% if user.authentic() %}
        is authentic.
        {% else %}
        is not authentic.
        {% endif %}

      Accuracy: {{ user.calc_accuracy() if user.accuracy is none else user.accuracy }}
      </p>

      {% if session.get("authenticated", False) is false %}
      {{ user.bio | markdown }}
      {% endif %}

      <div id="authentication"></div>
      <hr>

      {% for message in messages %}
      {{ m.small_message(message) }}
      {% endfor %}

      {% set page = request.values.get("page", 1)|int %}
      {% if page > 1 %}
      <a href="/profile/{{ user.name }}?page={{ page - 1}}" style="text-align: left;">Previous</a>
      {% endif %}
      <a href="/profile/{{ user.name }}?page={{ page + 1}}" style="text-align: right;">Next</a>
    </div>

    {% if session.get("authenticated", default = False) %}
    <script type="text/javascript">
      let username = "{{ user.name }}"
      let self = "{{ session['username'] }}"
      let flags = [ username, self ]
      let app = Elm.Authentication.init({ node: document.getElementById("authentication"), flags : flags })
    </script>
    {% endif %}

    {% include 'footer.html' %}
  </body>
</html>
