<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Write | DemNet</title>
    <link rel="stylesheet" href="/static/styles/publish.css">
    <script src="/static/scripts/publish.js" charset="utf-8"></script>
    {% include 'header.html' %}
  </head>
  <body>
    {% include 'navigation.html' %}
    {% import 'message.html' as m %}
    {% if response_to %}
    <div hidden id="response_to">{{ response_to.id if response_to.hash is none else response_to.hash }}</div>
    <div hidden id="response_to_id">{{ response_to.id }}</div>
    {{ m.long_message(response_to, level=4) }}
    {% endif %}
    {% if message is none or message.author.name == session.get("username", None)%}
    <div id="message-id" hidden>
      {{ message.id if message != None else '-1' }}
    </div>
    <div id="editor">
    </div>

    <br>
    <a href="/files_dashboard" id="upload_files_button">Upload Files</a>
    <a href="/help/markdown.html">Markdown is Supported</a>
    <br>

    <b>Preview:</b>
    <div id="output">

    </div>
    <style>
    #upload_files_button {
      padding-right: 45%;
      padding-left: 45;
    }
    </style>
    <script type="text/javascript">
    if(!localStorage.getItem("editor-title") || !localStorage.getItem("editor-content")) {
      localStorage["editor-title"]    = ""
      localStorage["editor-content"]  = ""
      localStorage["editor-keywords"] = ""
    }

    let response_to = document.getElementById("response_to")
    let response_to_id = document.getElementById("response_to_id")
    let message = document.getElementById("message-id").innerHTML
    let output = document.getElementById("output")

    message = message === "" ? -1 : parseInt(message)
    let app = Elm.Editor.init({ node: document.getElementById("editor")
                              , flags: [message, response_to_id === null ? -1 : parseInt(response_to_id.innerHTML)]
                              })

    let has_cached = localStorage["editor-title"] !== "" || localStorage["editor-content"] !== "" || localStorage["editor-keywords"] !== ""
    if(message === -1 && has_cached) {
      app.ports.storage
      .send({ title: localStorage["editor-title"]
      , content: localStorage["editor-content"]
      , keywords: localStorage["editor-keywords"]
    })
    } else {
      let title = `${message}-title`
      let content = `${message}-content`
      let keywords = `${message}-keywords`

      has_cached = title in localStorage|| content in localStorage || keywords in localStorage

      if(has_cached) {
        app.ports.storage
                 .send({ title: localStorage[title]
                       , content: localStorage[content]
                       , keywords: localStorage[keywords]
                      })
      }
    }

    app.ports.save.subscribe(model => {
      console.log(model)
      if(typeof(model.id) == typeof(1)) {
        localStorage[`${model.id}-title`] = model.title
        localStorage[`${model.id}-content`] = model.content
        localStorage[`${model.id}-keywords`] = model.keywords
      } else {
        localStorage["editor-title"] = model.title
        localStorage["editor-content"] = model.content
        localStorage["editor-keywords"] = model.keywords
      }
    })

    app.ports.redirect.subscribe(_ => {
      if (response_to === null) {
        window.location.href = "/"
      } else {
        window.location.href = "/read/" + response_to.innerHTML
      }
    })

    app.ports.showMd.subscribe(html => {
      output.innerHTML = html
    })

    </script>
    {% else %}
    <b>You are not the author of this message. You may not edit it.</b>
    {% endif %}
    {% include 'footer.html' %}
  </body>
</html>
