<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>{{ message.title }} | DemNet</title>
    {% include 'header.html' %}
    {% set has_no_keywords = message.keywords is none %}
    {% if has_no_keywords is false %}
    <meta name="keywords" content="{{ message.keywords.replace('#', ',') }}">
    {% endif %}

    <meta name="description" content="{{ message.excerpt() }}">
  </head>
  <body>
    {% include 'navigation.html' %}

    <div class="content">
      {% import 'message.html' as m %}

      {{ m.long_message(message, authenticated = session["authenticated"]) }}
      {% if is_author and not message.responses.exists() and session["authenticated"] %}
      <form action="/unpublish/{{ message.id }}" method="post">
        <input type="submit" value="Delete permanently">
      </form>
      {% endif %}
    </div>

    {% include 'footer.html' %}
  </body>
</html>
