<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Settings | DemNet</title>
    {% include "header.html" %}
  </head>
  <body>
    {% include "navigation.html" %}

    <div class="content">
      <a href="/agreements">
        Agreements
      </a>
    </div>

    <form action="/settings" method="post">
      <input type="checkbox" name="public" {{ "checked" if user.public is none or user.public else "" }}>
      <label for="public">My Account is public</label>
      <p>A public Account's posts and profile page can be visible to unauthenticated users.</p>
      <input type="submit" value="Save Changes">
    </form>

    {% include "footer.html" %}
  </body>
</html>
