{% macro format_user(user, simple = false) -%}
<div class="user">
  {% if simple %}
  <a href="/profile/{{ user.name }}">@{{user.name}}</a>
  {% else %}
  <a href="/profile/{{ user.name }}">{{ user.first_name }} {{ user.last_name }}</a>
  {% endif %}

  {% if session.get("username", default = None) != None %}
    {% if session["username"] == user.name %}
    {% elif User.get_by_id(session["username"]).is_following(user) %}
    <form action="/unfollow/{{ user.name }}" method="post">
      <input type="submit" value="Unfollow">
    </form>
    {% else %}
    <form action="/follow/{{ user.name }}" method="post">
      <input type="submit" value="Follow">
    </form>
    {% endif %}
  {% endif %}
</div>
{%- endmacro %}
