<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Vote</title>
  </head>
  <body>
    <form class="ballot" action="/vote" method="post">
      <table>
        <tr>
          {% for i in proposal_nums %}
          <th>
            {{ i }}
          </th>
          {% endfor %}
        </tr>

        {% for proposal in proposals %}
        <tr>
          <td>
            <a href="/proposal/{{ proposal.id }}">
              {{ proposal.title }}
            </a>
          </td>
          {% for i in proposal_nums %}
          <td>
            <input type="checkbox" name="vote_{{ i }}_{{ proposal.id }}">
          </td>
          {% endfor %}
        </tr>
        {% endfor %}
      </table>
    </form>
  </body>
</html>
