<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Vote</title>
    {% include 'header.html' %}
    <link rel="stylesheet" href="/static/styles/bootstrap.min.css"/>
    <script src="/static/scripts/vote/proposals.js" charset="utf-8"></script>
    <script src="/static/scripts/Sortable.js"></script>
  </head>
  <body>
    {% include 'navigation.html' %}

    <div class="content">
      <h1>Election #{{election.id}} is currently running</h1>
      {% if can_vote %}
      <h2>Voting ends on {{ voting_phase_end.strftime("%d.%m.%Y") }}</h2>
      <h3>There are {{ election.proposals.count() }} proposal(s)</h3>
      <p>Vote by <b>Drag & Drop</b>.
        Put the proposal, you'd like most at the top
        and rank the others below it.
        Any propsal, that you don't want to vote for at all,
        put below the "None of the other options" option.
      </p>
      <ul id="vote" class="list-group">
        <li class="list-group-item" data-id="NoneOfTheOtherOptions">None of the other options</li>
        {% for proposal in election.proposals %}
        <li class="list-group-item" data-id="{{ proposal.id }}">
          {{ proposal.title }}
        </li>
        {% endfor %}
      </ul>
      {% include 'current_proposals.html' %}
      <p> This <b> can't be undone</b>. If you click this button, you have voted and can't vote in this election again </p>

      <button onclick="vote_parser()" name="button">Vote</button>

      <form id="enter_vote" action="/vote" method="post">
        <input type="hidden" name="vote" value="">
      </form>

      <script>
      // Simple list
      vote_list   = document.getElementById("vote")
      Sortable.create(vote_list, {});

      function vote_parser() {
        vote                      = Array.from(document.getElementById("vote").childNodes)
        vote                      = vote.filter(elem => elem.nodeName == "LI")
        vote                      = vote.map(elem => elem.dataset.id)
        none_of_the_other_options = vote.indexOf("NoneOfTheOtherOptions")
        vote                      = vote.slice(0,none_of_the_other_options)
        submit(vote)
      }

      function submit(vote) {
        form                      = document.getElementById("enter_vote")
        form.vote.value           = JSON.stringify(vote)
        form.submit()
      }
      </script>
      {% elif can_propose %}
      <h2>Voting starts on {{ voting_phase_start.strftime("%d.%m.%Y") }}</h2>
      <h3>There are currently {{ election.proposals.count() }} proposal(s)</h3>

      {% include 'current_proposals.html' %}

      <div id="proposing">

      </div>
      <script type="text/javascript">
        let app = Elm.Proposals.init({ node: document.getElementById("proposing") });

        app.ports.reload.subscribe(_ => window.location.reload());
      </script>
      {% else %}
      <table>
        <tr>
          <td> Proposal Phase begin:
          </td>
          <td> {{ election.proposal_phase_start.strftime("%d.%m.%Y") }} </td>
        </tr>
        <tr>
          <td> Voting Phase begin: </td>
          <td> {{ voting_phase_start.strftime("%d.%m.%Y") }}</td>
        </tr>
        <tr>
          <td> Voting Phase end: </td>
          <td> {{ voting_phase_end.strftime("%d.%m.%Y") }}</td>
        </tr>
      </table>
      {% include 'current_proposals.html' %}
      {% endif %}
    </div>

    {% include 'footer.html' %}
  </body>
</html>
