<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Votes</title>
  </head>
  <body>
    <h1>Votes</h1>
    <a href="/election">Propose an issue to hold a vote upon</a>
    {% for election in elections %}
    <h2>{{ election.title }}</h2>
    <p>{{ election.description|markdown }} </p>
    {% if election.stage == 1 %}
    <a href="/propose/{{election.id}}">Propose</a>
    {% endif %}
    {% if election.stage == 2 %}
    <a href="/vote/{{election.id}}">Vote</a>
    {% endif %}
    {% endfor %}
  </body>
</html>
