<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Votes</title>
  </head>
  <body>
    <h1>Elections</h1>
    <h2> Open for voting </h2>
    {% for election in stage_2_elections %}
    <h3>{{ election.title }}</h3>
    <p>{{ election.description|markdown}}</p>
    <a href="/vote/{{ election.id }}">Vote</a>
    {% endfor %}
    <hr>
    <a href="https://gitlab.com/CSDUMMI/demnet/issues">Propose an issue to hold a vote upon</a>

    <h2>Make proposal to a problem</h2>
    {% for election in stage_1_elections %}
    <h3>{{ election.title }}</h3>
    <p>
      {{ election.description|markdown}}
    </p>
    <a href="https://gitlab.com/CSDUMMI/DemNet/-/merge_requests">Propose solution</a>
    {% endfor %}
  </body>
</html>
