<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>DemNet</title>
    <link rel="stylesheet" href="/styles/home.css">
  </head>
  <body>
     <form id="mitte">
     <h2>| Die post und vorschläge anderer personen die am meisten gelikt wurden |</h2>
     </form>
     <form id="links">
     <h2>| freundeslieste und vorschläge für freunde |</h2>
     </form>
     <form id="rechts">
     <h2>| Ein infinity bild ,dass permanet wiederholt wierd ersetzbar durch anderes|</h2>
     </form>
    

    
      <ul>
      <li><a href="/feed">Feed</a></li>
      <li><a href="/vote">Vote</a><li>
      <li><a href="https://www.patreon.com/">Donations</a></li>
      <input type="text" placeholder="Search...">
      </ul>
      

  </body>
</html>
