<!DOCTYPE html>
<html lang="de" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> DemNet </title>
  </head>
  <body>
    <form action="/register" method="post">
      <input type="text" name="username" value="Username">
      <input type="text" name="email" value="Email">
      <input type="password" name="password" value="Password">
      <input type="submit" value="Register">
    </form>

    <form action="/login" method="post">
      <input type="text" name="username" value="Username">
      <input type="password" name="password" value="Password">
      <input type="submit" value="Login">
    </form>
  </body>
</html>
