<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>DemNet</title>
    <link rel="stylesheet" href="/styles/login.css">
  </head>
  <body>
  <center>

    <form method="post" action="/login">
     <h2> Login </h2>
      Username:<br>
      <input type="text" name="Username"> <br>
      Password: <br>
      <input type="password" name="password"> <br>
      <input type="submit" value="Login" id="Login"> <!-- Button -->
      

      
    </form>
  </body>
</html>
