<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>DemNet</title>
    <link rel="stylesheet" href="/styles/login.css">
  </head>
  <body>
  <center>
    <h2> your login </h2>

    <form method="post" action="/login">
      Username:<br>
      <input type="text" name="username"> <br>
      Pasword: <br>
      <input type="password" name="password">
      <input type="submit" value="Login"> <!-- Button -->
      
            <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/Register">Register</a></li>
      <li><a href="/feed">Feed</a></li>
      <li><a href="https://www.patreon.com/">Donations</a></li>
      <input type="text" placeholder="Search...">
      </ul>
      
    </form>
  </body>
</html>
