body {
  background-color: white;
}

form {
  color:white;
  background-color: darkblue;
  margin-top: 25px;
  margin-bottom: 100px;
  margin-right: 600px;
  margin-left: 600px; // pading
}

#register {
  margin-top: 10px;
  margin-bottom: 10px;
}

h2 {
  color: white;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 10px;
}

p {
  font-family: verdana;
  font-size: 20px;
}

body {
 background-image: url("/imgs/demokratie.jpg");
 background-position: center;
 height: 1000px;
 background-repeat: repeat;
 background-color: #white;
}
