body {
  background-color: white;
}

#mitte {
  color:white;
  background-color: #333;
  margin-top: 7%;
  margin-bottom: 4.5%;
  padding-bottom: 15%;
  margin-right: 24%;
  margin-left: 30%; // pading
  resize: none;
}

#links {
  color:black;
  background-color: #333;
  margin-top: -25%;
  margin-bottom: 10%;
  padding-bottom: 31%;
  margin-right: 71%;
  margin-left: 1%; // pading
  resize: none;
}

#rechts {
  color:white;
  background-color: #333;
  margin-top: -46.5%;
  margin-bottom: 10%;
  padding-bottom: 37%;
  margin-right: 1%;
  margin-left: 77%; // pading
  resize: none;
}

h2 {
  color: #FFFAFA;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 10px; //problem
}

p {
  font-family: verdana;
  font-size: 20px;
}

body {
background-color: white;
 background-position: center;
 height: 1000px;
 background-repeat: repeat;
}

ul {
  list-style-type: none;
    position: fixed;
    top: -1.5%;
    left: -1.5%;
    width: 100%;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding:  25px 30px;
  text-decoration: none;
}


li a:hover {
  background-color: #111;
}

ul input[type=text] {
  float: right;
  padding: 1%;
  border: none;
  margin-top: 0.8%;
  margin-right: 2%;
  font-size: 100%;

