.navigation {
  background-color: var(--main-bg-color);
  top: 0;
  width: 100%;
  position: sticky;
  overflow: hidden;
  height: 10%;
  z-index: 1;
  text-decoration: none;
  font-weight: bold;

  margin-left: 0;
  margin-right: 0;
}

.navigation a {
  text-decoration: none;
}

.navigation-item {
  color: var(--main-link-color);
  background-color: var(--main-bg-color);
  width : 10%;
  padding-left: 15%;
  font-size: 24px;
  text-align: center;
  text-transform: capitalize;
}

#search {
  width: 100%;
  text-align: center;
}

input[type=submit], input[type=file], button {
  border-radius: 1vw;
  border: 0.4vw solid var(--border-color);
  background-color: var(--main-bg-color);
}

input[type=text], input[type=password], input[type=email] {
  border: solid;
  border-top: 0px solid;
  border-right: 0px solid;
  border-left: 0px solid;
  border-bottom: 0.4vw solid var(--border-color);
  border-radius: 0px;

}

.content {
  margin-left: 2%;
  margin-right: 2%;
}

img {
    max-width: 90%;
    max-height: 90%;
    height: auto;
    width: auto;
}

body {
  font-family: "Arial", sans-serif;
  font-size: 18px;
}

.info-footer {
  background-color: var(--main-bg-color);
  padding-top: 5%;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  padding-bottom: 1%;
  margin-top: auto;
  margin-left: 0;
  margin-right: 0;
  justify-content: space-between;
}

.info-item {
  color: var(--main-link-color);
  background-color: var(--main-bg-color);
  padding-left: 0.5%;
  padding-right: 0.5%;
  text-decoration: none;
  font-size: 12px;
  display: flex;
}

a {
  color: var(--main-link-color);
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
  color: var(--highlighting-color);
}

video {
  max-width: 100%;
  max-height: 10%;
}

details {
  cursor: pointer;
}
