.dropbtn {
  background-color: var(--main-bg-color);
  color: var(--main-link-color);
  padding: 16px;
  font-size: 16px;
  border: none;
  position: none;
  text-align: center;
  white-space: nowrap;
  margin: auto;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}



.dropbtn:hover {
  overflow: visible;
  text-overflow: none;
  word-break: break-all;

}

.dropdown {
  position: relative;
  display: block;

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  width: 1250px;
  padding-bottom: auto;
}

.dropdown-content a {
  color: black;
/*  padding: 12px 16px; */
  padding-bottom: auto;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: var(--highlighting-color);}
